body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-banner {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
h1 {
    font-size: 50px;
    text-align: center;
}
h3 {
    text-align: center;
}
p {
    text-align: center;
}
span {
    color: orange;
}
.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato, lightcoral);
    padding: 10px 40px;
    border-radius: 5px;
    margin-left: 38%;
    color: white;
    font-weight: 700;
}
section {
    display: flex;
    margin-bottom: 80px;
}

.half-width {
    width: 50%;
    padding: 2%;
}
.half-width img {
    width: 90%;
}